* {
    box-sizing: border-box;
    font-family: sans-serif;
}

button {
    all: unset;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 8fr;
    margin: 0;
}

.sidebar {
    background-color: #ecfeff;
    display: flex;
    flex-direction: column;
}

.user {
    font-size: 3rem;
    margin: 1rem 1rem 1rem 1rem;
}

.sidebar > .label {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 3rem 1rem 1rem 1rem;
    display: flex;
    justify-content: space-between;
}

.newProject {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    font-size: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 10px;
}

.newProject:hover {
    background-color: rgb(173, 189, 190);
}

.sBtn {
    height: 3rem;
    font-size: 1rem;
    padding-left: 2rem;
}

.sBtn:hover {
    background-color: rgb(173, 189, 190);
}

.sorting, .projects {
    display: flex;
    flex-direction: column;
}

.mainContent {
    background-color: #a5f3fc;
}