* {
    box-sizing: border-box;
    font-family: sans-serif;
}


button {
    all: unset;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 8fr;
    margin: 0;
}

.todoPopup {
    width: 50%;
    height: fit-content;
    display: none;
    position: fixed;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}


.todoPopup form {
    font-size: 1rem;
    display: flex;
    flex: auto;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid black;
    background-color: white;
}

.inptWrapr {
    display: flex;
    flex-direction: row;
}

.inptWrapr label {
    margin-right: 1rem;
}

.inptWrapr  input , select{
    width: 100%;
    border: 1px solid black;
    border-radius: 3px;
}



.popupBtns {
    display: flex;
    justify-content: space-between;
}

.popupBtns button {
    border-radius: 5px;
    border: 1px solid black;
    background-color: #dda15e;
    padding: 0.3rem
}

.sidebar {
    background-color: #dda15e;
    display: flex;
    flex-direction: column;
}

.user {
    font-size: 3rem;
    margin: 1rem 1rem 1rem 1rem;
}

.sidebar > .label {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 3rem 1rem 1rem 1rem;
    display: flex;
    justify-content: space-between;
}

.newProject {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    font-size: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 10px;
}

.newProject:hover {
    background-color: #bc6c25;
}

.sBtn {
    height: 3rem;
    font-size: 1rem;
    padding-left: 2rem;
}

.sBtn:hover {
    background-color: #bc6c25;
}

.sorting, .projects {
    display: flex;
    flex-direction: column;
}

.mainContent {
    background-color: #bc6c25;
    padding: 1.5rem;
    display: flex;
}

.page {
    display: flex;
    flex: 1;
    background-color: #fefae0;
    border-radius: 10px;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 3px 5px 1px rgba(66, 66, 66, 0.459);
    overflow:HIDDEN;
}

.title {
    font-size: 3rem;
    text-decoration: underline;
}

.tasksContainer {
    display: flex;
    flex-direction: column;
    flex: auto;
    width: 70%;
    align-items: center;
}

.task {
    display: flex;
    border-bottom: 1px solid #bc6c25;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.taskMiddle {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.taskTitle {
    font-size: 1.2rem;
    font-weight: 600;
}

.taskRight {
    display: flex;
    gap: 1rem;
}

.DltEdt {
    display: flex;
    flex-direction: column;
}

.priority {

    min-width: 10px;
    height: 100%;
}

#addTodo_button {
    align-self: flex-end;
    outline: 2px black solid;
    border-radius: 10px;
}

#addTodoIcon {
    width: 5rem;
}